*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Norse';
    src: url('./Norse-Bold.otf') format('truetype');
}
body{
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    
    background-color: rgb(125, 255, 175);
  
}
.left{
    width: 100vw;
    height: 100vh;
    background-image: url(./resouces/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    background-position: center;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    color: aliceblue;
    gap: 1rem;
    margin-top: 10rem;
    padding: 16px;
    font-size: 42px;
    font-weight: bolder;
    font-family: "Norse";
    

}
.bg img{
    width: 10vw;
    height: 15vh;
}

.right{
    font-size: 1.5rem;
    flex-wrap: wrap;
}
.right h2:first-child{
    padding: 32px;
    margin-top: 35px;
    width: 700px;
    text-align: left;
}
.right h2:nth-child(2){
    margin-top: 16px;
    padding: 0 0 16px 32px  ;


}
form{
   
    height: 200px
}
input{
    display: block;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.input-container{
    padding: 36px;
    background-color: #d4ffcf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    /* height: inherit; */
    box-shadow: 0 10px 5px 0 green;
}

.create-acc{
    padding: 16px 32px 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 26px;
    margin-left: 32px;
    background-color: rgb(27, 165, 27);
    color: #d4ffcf;
    border: none;
    border-radius: 10px;
}

.login{
    margin: 16px 0 16px 32px;
}

input:required:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}
.rq{
    margin: 16px 0 16px 32px;
}
input:focus{
    box-shadow: 0 0 10px 0 rgb(21, 51, 2);
}
.incorrect-psw{
    margin-top: 5px;
    font-size: 0.9rem;
    color: red;
}
#phoneNO{

}